[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "ext/rapidjson/rapidjson"]
	path = ext/rapidjson/rapidjson
	url = https://github.com/Tencent/rapidjson.git
